body {
  padding-top: 50px;
}

.jumbotron {
  background:url(../images/bg.jpg) no-repeat;
  color: rgb(138, 207, 106);
}

button.btn.btn-default{
  background-color: rgb(204, 214, 58);
}

footer{
  background:#f4f4f4;
  height:40px;
  text-align: center;
  margin-top: 30px;
  overflow: auto;
}