extends layout

block content
    .jumbotron
        .container
            h1 How May I Help You?
            p Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine.
            a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
    .container
        .row
            .col-md-4
                h2 About Us
                p Building a website is, in many ways, an exercise of willpower. It’s tempting to get distracted by the bells and whistles of the design process, and forget all about creating compelling content. It's that compelling content that's crucial to making inbound marketing work for your business. So how do you balance your remarkable content creation with your web design needs? It all starts with the "About Us" page.
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Services
                p WSDL defines not only the format and values of data flowing in and out of the service, but also define the endpoints, supported operations, message exchange patterns (MEP), everything relative to the operative description of the Web Services endpoints. WS-Choreography describe the flow of messages between a set of services participating in a global choreography of exchanges, without having a controller.
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Get in touch
                p Brief Description Get in touch
                a.btn.btn-default(href='#') View Details
